asgiref==3.8.1
beautifulsoup4==4.12.3
black==24.4.2
click==8.1.7
colorama==0.4.6
dj-database-url==2.3.0
Django==5.1.2
django-cors-headers==4.6.0
django-crispy-forms==2.3
django-heroku==0.3.1
django-widget-tweaks==1.5.0
dnspython==2.7.0
fontawesome-free==5.15.4
fontawesomefree==6.6.0
gunicorn==23.0.0
iniconfig==2.0.0
mypy==1.11.1
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.2.2
pluggy==1.5.0
psycopg==3.2.3
pymongo==4.10.1
pytest==8.3.3
soupsieve==2.6
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.8.2
