{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<form action="" method="get">
  <div class="text-box-center">
  {% render_field form.state placeholder="State" class+="state-box"%}
  </div>
  <div class="center">
  <button class="state-filter-btn">Search</button>
  </div>
</form>
{% for i in data %}
<div class="main-post-div">
<div class="post-div">
  <h1 class="post-name">{{i.name}}</h1>
  <img class="stylish-line" src="{% static "images/line.png" %}"/>
  <div class="area-image-div">
    <img class="area_image" src="http://127.0.0.1:8000/media/{{i.image}}" width="500" height="600" />
  </div>
  <p>{{i.state}}</p>
  <p>{{i.city}}</p>
  <p>{{i.desc}}</p>
</div>
</div>
{% endfor %}
{% endblock content %}