{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="center">
  <p class="gold">This is where you will make your posts (these will show on the main page).</p>
</div>
<div class="center">
<div class="form-div">
    <form class="post-form" action="" method="POST" enctype ="multipart/form-data">
      {% csrf_token %}
      {% render_field form.name placeholder="Name" class+="boxes" %}
      <p class="form-field-desc"><i>Name Of Location</i></p>

      {% render_field form.state placeholder="State" class+="boxes" %}
      <p class="form-field-desc"><i>Please Enter The Entire State Name.</i></p>

      {% render_field form.city placeholder="City" class+="boxes" %}
      <p class="form-field-desc"><i>Area Located</i></p>

      {% render_field form.image placeholder="Image" class+="image-box" %}
      <p class="form-field-desc"><i>Upload Your Image</i></p>

      {% render_field form.desc placeholder="Description" class+="desc-box" %}
      <p class="form-field-desc"><i>Please Enter A Description Under 500 Characters</i></p>
      
      {% render_field form.lat placeholder="Latitude" class+="boxes" %}
      {% render_field form.long placeholder="Longitude" class+="boxes" %}
      <p class="form-field-desc"><i>Please note that this is <b>not required</b> but needed if you want it to show on the map.</i></p>

      <button class="post-btn">Post!</button>
    </form>
</div>
</div>

{% endblock content %}